<main>
  <section class="todo">
    <header class="todo__header">
      <div class="container">
        <h1 class="todo__title">Todo</h1>
        <button class="todo__theme-toggle" aria-label="Toggle theme" (click)="switchTheme()">
          <img
            src="/assets/images/icon-moon.svg"
            alt="Dark theme icon"
            class="todo__theme-icon todo__theme-icon--dark" />
          <img
            src="/assets/images/icon-sun.svg"
            alt="Light theme icon"
            class="todo__theme-icon todo__theme-icon--light" />
        </button>
      </div>
    </header>
    <div class="todo__content">
      <div class="todo__input">
        <div class="todo__input-wrapper">
          <input
            type="text"
            class="todo__input-field"
            placeholder="Create a new todo..."
            #newTask
            (keydown.enter)="addTask(newTask.value); newTask.value = ''"
          />
          <input
            type="checkbox"
            class="todo__checkbox todo__checkbox--input"
            id="customChecbox0"
          />
          <label for="customChecbox0"></label>
        </div>
      </div>
      <ul class="todo__list" cdkDropList (cdkDropListDropped)="onDroop($event)">
        @for (task of filteredTasks(); track task.name) {
          <li class="todo__item" cdkDrag>
            <div class="todo__item-list">
              <input
                type="checkbox"
                class="todo__checkbox"
                [id]="task.name"
                [(ngModel)]="task.completed"
                />
              <label [for]="task.name"></label>
              <p class="todo__text" [class.todo__item--completed]="task.completed">{{task.name}}</p>
            </div>
            <button type="button" class="todo__remove" (click)="deleteTask(task.name)">
              <img src="/assets/images/icon-cross.svg" alt="Icon cross" />
            </button>
          </li>
        }
        <li class="todo__item">
          <span class="todo__item-total">{{getTotalTaks()}} items left</span>
          <button type="button" class="todo__button-clear" (click)="clearCompletedTasks()">Clear Completed</button>
        </li>
      </ul>
      <div class="todo__actions">
        <button
          type="button"
          class="todo__filter"
          (click)="setFilter('all')"
          [class.todo__filter--active]="filterType === 'all'"
          >All</button>
        <button
          type="button" class="todo__filter"
          (click)="setFilter('active')"
          [class.todo__filter--active]="filterType === 'active'"
           >
          Active</button>
        <button
          type="button"
          class="todo__filter"
          (click)="setFilter('completed')"
          [class.todo__filter--active]="filterType === 'completed'"
          >Completed
        </button>
      </div>
    </div>
    <footer class="todo__footer">
      <p class="todo__drag-hint">Drag and drop to reorder list</p>
    </footer>
  </section>
</main>
<footer class="footer">
  <p class="attribution">
    Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>.
    Coded by <a href="#">Souleymane DIALLO</a>.
  </p>
</footer>
